*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-item .fa-bag-shopping {
    font-size: 26px;
    color: #ffffff
}

.nav-item .fa-bag-shopping span {
    font-size: 12px;
    top: -23px;
    right: -17px;
    width: 20px;
    height: 20px;
    padding-top: 9px;
    border-radius: 50%;
    background-color: red;
    color: #ffffff;
    text-align: center;
}

.product-in-cart {
    text-align:  center;
    width:  80%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:  15px auto;
}